<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userService" class="xml.service.impl.UserServiceImpl">
		<!-- 构造方法注入 -->
		<constructor-arg ref="userDao"/>
	</bean>
	<bean id="studentService" class="xml.service.impl.StudentServiceImpl">
		<!-- set方法注入 -->
		<property name="userDao" ref="userDao"/>
	</bean>
	<bean id="userDao" class="xml.dao.impl.UserDaoImpl"/>

</beans>
