<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="customBeanFactoryPostProcessor" class="processor.CustomBeanFactoryPostProcessor"/>
	<bean id="customBeanPostProcessor" class="processor.CustomBeanPostProcessor"/>
	<bean id="customInstantiationAwareBeanPostProcessor" class="processor.CustomInstantiationAwareBeanPostProcessor"/>

	<bean id="userService" class="service.impl.UserServiceImpl" init-method="init" destroy-method="cleanup">
		<!-- set方法注入 -->
		<property name="userDao" ref="userDao"/>
	</bean>
	<bean id="userDao" class="dao.impl.UserDaoImpl"/>

</beans>
